<div class="row" id="marketings">
  <div class="col-lg-4 col-md-6 col-sm-12 debonair">
    <div class="card" >
        <div class="abs">
          <img src="theme/university/pix/images/moodle image_conflict resolution.jpg" alt="" id="img">
        </div>
      <div class="ebox-body">
      <h2 class="abbas"><a href="../course/index.php?categoryid=2">Leadership and Management</a> </h2>
      <div class="" id="ab">
        <div class="" style="height:140px">
          <p  style="letter-spacing:0px; padding:10px; text-align:left;">Courses aimed to help develop a leadership
            ethos and equip leaders and managers with the skills to be able to meet the Universitys strategic
            priorities Our courses include introductory sessions for.....
          </p>
        </div>
        <div class="" style="height:30px">
            <center><a class="btn btn-default" style="color: #05345C; background-color: white;" href="../course/index.php?categoryid=2">Read More</a></center>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12 debonair">
    <div class="card">
        <div class="abs">
          <img src="theme/university/pix/images/moodle image_influencing.jpg" alt="" id="img">
        </div>
      <div class="ebox-body">
      <h2 class="abbas"><a href="../course/index.php?categoryid=6">Equality</a></h2>
      <div class="" id="ab1">
        <div class="" style="height:140px">
          <p style="letter-spacing:0px; padding:10px; text-align:left;">A selection of courses aimed to build
            the knowledge of all employees over a range of
	  characteristics. To allow all individuals to bring their Whole self to work. Each module provides
	  support and guidance on the.....
          </p>
        </div>
        <div class="" style="height:30px">
            <center><a class="btn btn-default" style="color: #05345C; background-color: white;" href="../course/index.php?categoryid=6">Read More</a></center>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12 debonair">
    <div class="card">
        <div class="abs">
          <img src="theme/university/pix/images/Moodle image_questioning techniques.jpg" alt="" id="img">
        </div>
      <div class="ebox-body">
      <h2 class="abbas"><a href="../course/index.php?categoryid=3">Job Skills</a></h2>
      <div class="" id="ab2">
        <div class="" style="height:140px">
          <p style="letter-spacing:0px; padding:10px; text-align:left;">Build your knowledge and competency in the
workplace with Job Skills training.
These courses feature an emphasis on practical
skills to help support you in your day-to-day role
and, ultimately, develop your....
          </p>
        </div>
        <div class="" style="height:30px">
              <center><a class="btn btn-default" style="color: #05345C; background-color: white;"  href="../course/index.php?categoryid=3">Read More</a></center>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12 debonair">
    <div class="card">
        <div class="abs">
          <img src="theme/university/pix/images/Moodle image_researcher induction.png" alt="" id="img">
        </div>
      <div class="ebox-body">
      <h2 class="abbas"><a href="../course/index.php?categoryid=4">Induction</a></h2>
      <div class="" id="ab3">
        <div class="" style="height:140px">
          <p style="letter-spacing:0px; padding:10px; text-align:left;">The University is
            committed to ensuring all new staff are provided with the appropriate
	  and relevant information they need to become a valued and effective part of the organisation. The
	  induction modules....
          </p>
        </div>
        <div class="" style="height:30px">
              <center><a class="btn btn-default" style="color: #05345C; background-color: white;" href="../course/index.php?categoryid=4">Read More</a></center>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12 debonair">
    <div class="card">
        <div class="abs">
          <img src="theme/university/pix/images/Moodle image_stress and conflict.png" alt="" id="img">
        </div>
      <div class="ebox-body">
      <h2 class="abbas"><a href="../course/index.php?categoryid=5">Future of Work</a></h2>
      <div class="" id="ab4">
        <div class="" style="height:140px">
          <p style="letter-spacing:0px; padding:10px; text-align:left;">A range of modules to support all
            staff to  adapt and thrive to a new way of working. Allowing for
	  greater flexibility but no drop in performance....
          </p>
        </div>
        <div class="" style="height:30px">
          <center><a class="btn btn-default" style="color: #05345C; background-color: white;" href="../course/index.php?categoryid=5">Read More</a></center>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12 debonair">
    <div class="card">
        <div class="abs">
          <img src="theme/university/pix/images/Moodle image_wellbeing convo.png" alt="" id="img">
        </div>
      <div class="ebox-body">
      <h2 class="abbas"><a href="../course/index.php?categoryid=7">Personal Effectiveness</a></h2>
      <div class="" id="ab4">
        <div class="" style="height:140px">
          <p id="ab5" style="letter-spacing:0px; padding:10px; text-align:left;">This section includes a group of
            courses designed to provide skills to improve an individual’s
	  personal effectiveness....
          </p>
        </div>
        <div class="" style="height:30px">
            <center><a class="btn btn-default" style="color: #05345C; background-color: white;" href="../course/index.php?categoryid=7">Read More</a></center>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
