<p dir="ltr" style="text-align: left;"><br></p>

<hr>
<div class="row" style="margin:0px!important">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <img src="theme/university/pix/images/mentorship.png" alt="" style="width:100%; margin-left: 15px;">
		<!-- <iframe style="width:100%; height: 100%; margin-left: 15px;" src="https://www.youtube.com/embed/XYZ123" frameborder="0" allowfullscreen></iframe> -->
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12">
    <img src="theme/university/pix/images/Moodle image_questioning techniques.jpg" alt="" style="width:100%; height: 100%; margin-left: -15px;">
  </div>
</div>
<hr>
